/* ============== */
.aboutMe {
    margin-bottom: 1rem;
    width: 80%;
}

.avatarContainer {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.myName {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.myRealName {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.myPosition {
    margin-bottom: 0.3rem;
}

/* =========== */
.contact {
    margin: 1rem;
    padding: 0.3rem 01rem;
    border-radius: 0.5rem;
    background-color: rgba(30, 91, 250, 0.1);
}

.contactText {
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.3rem;
}

.contactInfo {
    font-family: sans-serif;
    margin-bottom: 0.1rem;
}