/* ============== */
.privacyContainer {
    width: 80%;
    font-family: 'Noto Sans JP';
}

.label {
    font-size: 1.3rem;
    margin: 0.8rem 0;
    font-weight: 600;
}

.text {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

/* ========== */
.nestedList {
    margin-left: 1rem;
}